body {
    margin: 0;
    overflow: hidden;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
canvas {
    background: #333;
    image-rendering: pixelated;
    border: 4px solid #fff;
    max-width: 100%;
    max-height: 100%;
}
